/src/Cx.Demo.Authentication/packages
/src/Cx.Demo.Authentication/.vs
/src/Cx.Demo.Authentication/Cx.Demo.Authentication/Media
/src/Cx.Demo.Authentication/Cx.Demo.Authentication/obj
/src/Cx.Demo.Authentication/Cx.Demo.Authentication/Cx.Demo.Authentication.csproj.user
/src/Cx.Demo.Authentication/Cx.Demo.Authentication/bin
